.chat
  .chat__groupes
    
    .chat__groupes--left
      = @group.name
      .chat__groupes--left--end
        Member：
        - @group.users.each do |user|
          = user.name
    =link_to edit_group_path(@group), class: "chat__groupes--left--end--right" do
      Edit
  .chat-main
    = render @messages

               
  .chat-main__form
    .chat-main__form--block
      .chat-main__form--block--list
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'input-box__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'input-box__image__file'
          = f.submit 'Send',class: 'submit-btn'